#sign-in-form {
  display: flex;
  flex-direction: column;
  padding-top: 5px;

  .full-width-input {
    width: 100%;
  }

  .remember-me {
    margin-bottom: 12px;
  }
}

.sign-up-section {
  margin: 10px 0;
}
